body {
    //background-color: #7fd3ff;
    background-image: url('../images/sky.png');
}

header, footer {
    height: 10vh;
}

button {
    &.btnFooter {
        width: 140px;
    }
}

header {
    .page-header {
        margin: 10px 0 0 0;
        color: #4b3a55;
        &::first-letter {
            font-size: 45px;
        }
        
    }
}

section {
    height: 75vh;
    .mainPicture {
        margin-top: 50px;
        height: 26vh;
        //border: 1px solid yellow;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
    }
    .temperature {
        //margin-top: 15px;
        font-size: 4em;
    }
    .cityName {
        margin-top: 15px;
        font-size: 3em;
    }
    .showLess {
        margin-top: 10px;
    }
}

section {
    &.longWeather {
        display: none;
        .detailedWeather {
            height: 55vh;//350px; // POPRAWIC na vh, żeby dopasowywało się do odbiornika
            //border: 1px solid green;
            table {
                width: 100%;
                height: 100%;
                font-size: 1.3em;
                font-style: italic;
            }
        }
    }
    &.googleMap {
        display: none;
    }
    #map {
        margin-top: 25px;
        height: 60vh; // POPRAWIC na vh, żeby dopasowywało się do odbiornika
        width: 100%;
        //border: 1px solid green;
    }
    &.hourlyWeather, &.fiveDaysWeather {
        display: none;
        .tableWeather {
            height: 55vh;
            table {
                width: 100%;
                height: 100%;
                font-size: 1.3em;
                font-style: italic;
                .hourIcon, .fiveDaysIcon {
                    width: 50px;
                    height: 50px;
                    display: block;
                }
            }
        }
    }
}

footer {
    #author {
        font-size: 0.9em;
        text-align: center;
        margin-top: 5px;
    }
}

@media (min-width: 768px) {
    article {
        &.weatherArticle {
            display: block;
        }
    }
    section {
        &.shortWeather {
            height: 35vh;
            .mainPicture {
                //margin-top: 30px;
                height: 14vh;
                background-size: 55%;
            }
            .temperature {
                margin-top: 10px;
                font-size: 2.5em;
            }
            .cityName {
                margin-top: 10px;
                font-size: 2.5em;
            }
            button {
                display: none;
            }
        }
        &.longWeather {
            height: 40vh;
            display: block;
            .cityName {
                display: none;
            }
            button {
                display: none;
            }
            .detailedWeather {
                height: 40vh;
                table {
                    width: 100%;
                    height: 100%;
                    font-size: 1.3em;
                    font-style: italic;
                }
            }
        }
        &.googleMap {
            #map {
                height: 35vh;
            }
        }
        &.hourlyWeather {
            height: 45vh;
            button {
                display: none;
            }
            .tableWeather {
                height: 35vh;
                table {
                    height: 35vh;
                    font-size: 1.5em;
                }
            }
        }
        &.fiveDaysWeather {
            height: 45vh;
            .cityName {
                display: none;
            }
            button {
                display: none;
            }
            .tableWeather {
                height: 35vh;
                table {
                    height: 35vh;
                    font-size: 1.5em;
                }
            }
        }  
    }
}

@media (min-width: 992px) {
    article {
        &.weatherArticle{
            height: 90vh;
            width: 35vw;
            section {
                .row {
                    width: 35vw;
                }
                &.container {
                    width: 35vw;
                }
            }
        }
        &.mapArticle {
            height: 90vh;
            width: 60vw;
             section {
                 .row {
                    width: 60vw;
                }
                &.container {
                    width: 60vw;
                }
            }
        }
    }
    section {
        &.googleMap {
            display: block;
            #map {
                width: 100%;
                margin-top: 50px;
                height: 75vh;
            }
            button {
                display: none;
            }
        }
        &.shortWeather {
            height: 35vh;
            .mainPicture {
                //margin-top: 30px;
                height: 10vh;
                background-size: 45%;
            }
            .temperature {
                margin-top: 10px;
                font-size: 2em;
            }
            .cityName {
                margin-top: 10px;
                font-size: 1.5em;
            }
            button {
                display: none;
            }
        }
        &.longWeather {
            height: 35vh;
            display: block;
            .cityName {
                display: none;
            }
            button {
                display: none;
            }
        }
        &.hourlyWeather, &.fiveDaysWeather {
            width: 45vw;
            height: 95vh;
            display: block;
            .cityName {
                display: none;
            }
            .tableWeather {
                height: 70vh;
                table{
                    height: 100%;
                }
            }
        }
        
    }
    footer {
        .text-center {
            display: none;
        }
        #author {
            position: relative;
        }
    }
}

.show {
    display: block;
}

.hidden {
    display: none;
}

//footer {
//    &.btn-group {
//        width: 100%;
//        &.btn {
//            width: 50%;
//        }
//    }
//} próba ustawienia przycisków na całą szerokość wyświetlacza 
