body {
    background-color: #7fd3ff;
}

header, footer {
    height: 10vh;
}

section {
    height: 80vh;
}

section {
    .mainPicture {
        margin-top: 50px;
        height: 200px;
        border: 1px solid yellow;
        border-radius: 100%;
    }
    .temperature {
        margin-top: 15px;
        font-size: 4em;
    }
    .cityName {
        margin-top: 15px;
        font-size: 4em;
    }
}

section {
    &.longWeather {
        display: none;
    }
    .detailedWeather {
        height: 400px;
        border: 1px solid green;
    }
    &.googleMap {
        display: none;
    }
    #map {
        margin-top: 25px;
        height: 450px; // POPRAWIC na vh, żeby dopasowywało się do odbiornika
        border: 1px solid green;
    }
}

//footer {
//    &.btn-group {
//        width: 100%;
//        &.btn {
//            width: 50%;
//        }
//    }
//} próba ustawienia przycisków na całą szerokość wyświetlacza 
