<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Weather application</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css" type="text/css">
    </head>
    <body>
        <header class="container">
            <h2 class="page-header text-center"> 
                <em>WEATHER</em>
            </h2>
        </header>
        
        <article class="weatherArticle">
        <!-- View for first page with short weather version -->
        <section class="container shortWeather">
            <div class="row">
                <div class="col-xs-2 col-sm-2 col-lg-3"></div>
                <div class="col-xs-8 col-sm-8 col-lg-9">
                    <div class="mainPicture"></div>
                    <p class="text-center temperature"><span class="tempValue">18</span> &deg;C</p>
                    <p class="text-center cityName">Mozambik</p>
                    <button type="button" class="btn btn-primary btn-lg center-block showMore">
                        MORE <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                </div>
                <div class="col-xs-2 col-sm-2"></div>
            </div>
        </section>
        
<!--         View for detailed weather -->
        <section class="container longWeather">
            <div class="row">
                <div class="col-xs-1 col-sm-2 col-lg-3"></div>
                <div class="col-xs-10 col-sm-8 col-lg-9">
                    <p class="text-center cityName">Mozambik</p>
                    <div class="detailedWeather">
                        <table class="table-striped">
                            <tr>
                                <td>temperature</td>
                                <td><span class="tempValue">18</span>&deg;C</td>
                            </tr>
                            <tr>
                                <td>description</td>
                                <td><span class="tempDescription">clear sky</span></td>
                            </tr>
                            <tr>
                                <td>pressure</td>
                                <td><span class="pressureValue">1010</span>hPa</td>
                            </tr>
                            <tr>
                                <td>humidity</td>
                                <td><span class="humidityValue">21</span>%</td>
                            </tr>
                            <tr>
                                <td>wind</td>
                                <td><span class="windValue">1</span>m/s</td>
                            </tr>
                            <tr>
                                <td>visibility</td>
                                <td><span class="visibilityValue">10000</span>m</td>
                            </tr>
                        </table>
                    </div>
                    <button type="button" class="btn btn-primary btn-lg center-block showLess">
                        BACK <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
                <div class="col-xs-1 col-sm-2"></div>
            </div>
        </section>
        </article>
            
        <article class="mapArticle">
        <!-- View for map -->
        <section class="container googleMap">
            <div class="row">
                <div class="col-sm-1 col-lg-1"></div>
                <div class="col-xs-12 col-sm-10 col-lg-10">
<!--
                    <div class="form-group">
                        <input id="pac-input" class="controls form-control" type="text" placeholder="Search Box">
                    </div>
-->
                    <div id="map"></div>
                    <button type="button" class="btn btn-primary btn-lg center-block showLess">
                        BACK <span class="glyphicon glyphicon-chevron-up"></span>
                    </button>
                </div>
                <div class="col-sm-1 col-lg-1"></div>
            </div>
        </section>
        </article>
        
        <article clss="forecastArticle">
            <!-- View for hourly forecast -->
            <section class="container hourlyWeather">
                <div class="row">
                    <div class="col-xs-1 col-sm-2 col-lg-3"></div>
                    <div class="col-xs-10 col-sm-8 col-lg-9">
                        <p class="text-center cityName">Mozambik</p>
                        <div class="detailedWeather">
                            <table class="table-striped hourlyTable">
<!--
                                <tr>
                                    <td><span class="hour">12:00</span></td>
                                    <td><span class="hourIcon"></span></td>
                                    <td><span class="hourTemp">18</span>&deg;C</td>
                                </tr>
-->
                            </table>
                        </div>
<!--
                        <button type="button" class="btn btn-primary btn-lg center-block showLess">
                            BACK <span class="glyphicon glyphicon-chevron-up"></span>
                        </button>
-->
                    </div>
                    <div class="col-xs-1 col-sm-2"></div>
                </div>
            </section>
        </article>
        
        <footer class="container navbar-fixed-bottom">
            <div class="text-center">
                <div class="btn-group btn-group-lg" role="group">
                    <button type="button" class="btn btn-default btnFooter forecastBtn">FORECAST</button>
                    <button type="button" class="btn btn-default mapBtn btnFooter"> MAP <span class="glyphicon glyphicon-globe"></span></button>
                </div>
            </div>
        </footer>
        
        
        
        <script src="js/jquery-3.1.1.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/locationAPI.js"></script>
        <script src="js/weatherAPI.js"></script>
        <script src="js/maps.js"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFBTFTTnNeL9Ctas92Ih9STq4rcmlPtyI&callback=initMap"></script>
<!--        script dla search_box, dokleić ten element &libraries=places do ścieżki powyżej -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>